<h2>{{ todo.text }} <sup>ID: {{ todo.id }}</sup></h2>
<p>Created by: <i>{{ todo.owner.fullname }}</i></p>
<p>Created at: <i>{{ todo.createdAt | date: 'dd.MM.yyyy HH:mm' }}</i></p>
<p>Updated at: <i>{{ todo.updatedAt | date: 'dd.MM.yyyy HH:mm' }}</i></p>
<div class="btn-group" role="group" aria-label="Basic example" *ngIf="!todo.isDone">
  <button class="button btn btn-sm btn-success" (click)="markDone()">Done</button>
  <a [routerLink]="['/todo', todo.id, 'edit']" class="button btn btn-sm btn-primary">Edit</a>
</div>
<a [routerLink]="['/']" class="button btn btn-sm btn-outline-secondary" style="margin-left: 6px;">Go home</a>
<button class="button btn btn-sm btn-outline-danger" style="margin-left: 6px;" (click)="delete()">Delete</button>