<h2>Edit ToDo:</h2>
<form (ngSubmit)="onSubmit(todoForm.value)" #todoForm="ngForm">
  <div class="form-group">
    <label for="text">Text</label>
    <input  id="text"
            type="text"
            class="form-control"
            required
            [(ngModel)]="model.text"
            name="text"
            #name="ngModel"
            placeholder="Type your todo text here...">
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    <select class="form-control"
            id="owner"
            required
            [(ngModel)]="model.owner.id"
            name="owner"
            #owner="ngModel">
      <option *ngFor="let user of users | async" [value]="user.id">{{ user.fullname }}</option>
    </select>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="button btn btn-primary" type="submit">Submit</button>
    <a [title]="'Go back'" [routerLink]="['/todo', model.id, 'view']" class="button btn btn-secondary">Go back</a>
  </div>
</form>