<h2>Todos:</h2>
<ul *ngFor="let todo of todos">
  <li>
    <a [title]="'View more'" [routerLink]="['/todo', todo.id, 'view']">
      <span *ngIf="todo.isDone"> [DONE] </span>
      {{ todo.text }} by <i>{{ todo.owner.fullname }}</i> at {{ todo.createdAt | date: 'dd.MM.yyyy HH:mm' }}
    </a>
  </li>
</ul>

<a [title]="'Add new'" [routerLink]="['/todo/new']" class="btn btn-primary"><i data-feather="plus"></i>Add new</a>
